body {
    padding: 5px;
    background-color: hsl(0, 0%, 81%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

div {
    margin: auto;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-purple {
    border-radius: 25px;
    background: hsl(263, 55%, 52%);
    padding: 20px;
    margin: 30px;
    flex: 1;
    width: 32%;
}

.card-darkgrey{
    border-radius: 25px;
    background: hsl(217, 19%, 35%);
    padding: 20px;
    margin: 30px;
    flex: 1;
    width: 32%;
}

.card-white{
    border-radius: 25px;
    background: hsl(0, 0%, 100%);
    padding: 20px;
    margin: 30px;
    flex: 1;
    width: 32%;
}

.card-dark{
    border-radius: 25px;
    background: hsl(219, 29%, 14%);
    padding: 20px;
    margin: 30px;
    flex: 1;
    width: 32%;
}

.person-details{
    color: white;
    margin: 5px;
}

.card-highlight-white{
    color: white;
    font-size: large;
}

.card-body{
    margin-top: 10px;
    color:hsl(0, 0%, 81%);
    font-weight: 500;
}